<div class="admintab-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tab-content-details shadow-reset">
                    <h1>Drone for Agriculture: Vertical Master
                    </h1>
                    <p>Take your cherry-pick from our current list of projects. Sign in to see interest rates and further details of each project.
                    </p>
                    <a href="#"><img class="drone" src ="assets/img/drone.jpg" alt=""></a>

                </div>
            </div>
        </div>
        
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tab-content-details shadow-reset">
                    <h2>Project description</h2>
                    <p>Vertical Master is a training institute for Unmanned Aerial Vehicles (UAV) such as drones, focusing on professional applications. With training centres all over Switzerland, it has recently observed a growing potential for drones in agricultural spraying – for disease, weed and pest control. The company is seeking a financial boost to acquire a drone sprayer dedicated to training purposes</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <table class="table">
                       
                        <tbody>
                          <tr>
                            
                            <td>Project ID</td>
                            <td>P-S95P33L45
                            </td>
                            
                          </tr>
                          <tr>
                            
                            <td>Amount needed
                            </td>
                            <td>CHF 20’000
                            </td>
                            
                          </tr>
                          <tr>
                            <td>Interest
                            </td>
                            <td>6%
                            </td>
                          </tr>
                          <tr>
                            <td>Risk class

                            </td>
                            <td>C+
                            </td>
                          </tr>
                          <tr>
                            <td>Loan duration

                            </td>
                            <td>48 months

                            </td>
                          </tr>
                          <tr>
                            <td>Location
                            </td>
                            <td>Vaud
                            </td>
                          </tr>
                          <tr>
                            <td>Industry
                            </td>
                            <td>Education
                            </td>
                          </tr>
                        </tbody>
                      </table>    
                </div>
        </div>
    </div>
</div>