<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-info">
                    <p><a href="https://acredius.ch/">Acredius</a> AG
                        Hardturmstrasse 161
                        8005 Zürich, Switzerland </p>
                        <p>© 2021 Acredius AG. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
